name: Add app version git tag

on: workflow_dispatch

jobs:
  create-app-version-git-tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - run: |
          git config user.name "Github Action"
          git config user.email "action@github.com"
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.1'
          bundler-cache: true
      - run: |
          bundle exec fastlane add_version_tag
          git push origin $TAG_NAME
    
